{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{% static "enroll/css/bootstrap.min.css" %}">
</head>
<body>
    <div class="container">
        <h1 class="alert alert-warning text-center mt-5">CRUD - Django, Python, SQLite</h1>
        <div class="row mt-5">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script src="{% static "enroll/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>